<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <style>
        html,
        body,
        div,
        span,
        applet,
        object,
        iframe,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        blockquote,
        pre,
        a,
        abbr,
        acronym,
        address,
        big,
        cite,
        code,
        del,
        dfn,
        em,
        img,
        ins,
        kbd,
        q,
        s,
        samp,
        small,
        strike,
        strong,
        sub,
        sup,
        tt,
        var,
        b,
        u,
        i,
        center,
        dl,
        dt,
        dd,
        ol,
        ul,
        li,
        fieldset,
        form,
        label,
        legend,
        table,
        caption,
        tbody,
        tfoot,
        thead,
        tr,
        th,
        td,
        article,
        aside,
        canvas,
        details,
        embed,
        figure,
        figcaption,
        footer,
        header,
        hgroup,
        menu,
        nav,
        output,
        ruby,
        section,
        summary,
        time,
        mark,
        audio,
        video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }

        /* HTML5 display-role reset for older browsers */
        article,
        aside,
        details,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        menu,
        nav,
        section {
            display: block;
        }

        body {
            line-height: 1;
        }

        ol,
        ul {
            list-style: none;
        }

        blockquote,
        q {
            quotes: none;
        }

        blockquote:before,
        blockquote:after,
        q:before,
        q:after {
            content: '';
            content: none;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        /* cyrillic-ext */
        @font-face {
            font-family: 'Montserrat';
            font-style: italic;
            font-weight: 300;
            font-display: swap;
            src: local("Montserrat Light Italic"), local("Montserrat-LightItalic"), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZYgzz8fZwnCo.woff2) format("woff2");
            unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
                U+FE2E-FE2F;
        }

        /* cyrillic */
        @font-face {
            font-family: 'Montserrat';
            font-style: italic;
            font-weight: 300;
            font-display: swap;
            src: local("Montserrat Light Italic"), local("Montserrat-LightItalic"), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZYgzz-PZwnCo.woff2) format("woff2");
            unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
        }

        /* vietnamese */
        @font-face {
            font-family: 'Montserrat';
            font-style: italic;
            font-weight: 300;
            font-display: swap;
            src: local("Montserrat Light Italic"), local("Montserrat-LightItalic"), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZYgzz8_ZwnCo.woff2) format("woff2");
            unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
                U+01AF-01B0, U+1EA0-1EF9, U+20AB;
        }

        /* latin-ext */
        @font-face {
            font-family: 'Montserrat';
            font-style: italic;
            font-weight: 300;
            font-display: swap;
            src: local("Montserrat Light Italic"), local("Montserrat-LightItalic"), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZYgzz8vZwnCo.woff2) format("woff2");
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
                U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }

        /* latin */
        @font-face {
            font-family: 'Montserrat';
            font-style: italic;
            font-weight: 300;
            font-display: swap;
            src: local("Montserrat Light Italic"), local("Montserrat-LightItalic"), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZYgzz_PZw.woff2) format("woff2");
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
                U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
                U+FEFF, U+FFFD;
        }

        /* cyrillic-ext */
        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-display: swap;
            src: local("Montserrat Light"), local("Montserrat-Light"), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3gTD_u50.woff2) format("woff2");
            unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
                U+FE2E-FE2F;
        }

        /* cyrillic */
        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-display: swap;
            src: local("Montserrat Light"), local("Montserrat-Light"), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3g3D_u50.woff2) format("woff2");
            unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
        }

        /* vietnamese */
        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-display: swap;
            src: local("Montserrat Light"), local("Montserrat-Light"), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3gbD_u50.woff2) format("woff2");
            unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
                U+01AF-01B0, U+1EA0-1EF9, U+20AB;
        }

        /* latin-ext */
        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-display: swap;
            src: local("Montserrat Light"), local("Montserrat-Light"), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3gfD_u50.woff2) format("woff2");
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
                U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }

        /* latin */
        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-display: swap;
            src: local("Montserrat Light"), local("Montserrat-Light"), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3gnD_g.woff2) format("woff2");
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
                U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
                U+FEFF, U+FFFD;
        }

        /* cyrillic-ext */
        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format("woff2");
            unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
                U+FE2E-FE2F;
        }

        /* cyrillic */
        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format("woff2");
            unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
        }

        /* vietnamese */
        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format("woff2");
            unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
                U+01AF-01B0, U+1EA0-1EF9, U+20AB;
        }

        /* latin-ext */
        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format("woff2");
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
                U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }

        /* latin */
        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2");
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
                U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
                U+FEFF, U+FFFD;
        }

        /* cyrillic-ext */
        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-display: swap;
            src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gTD_u50.woff2) format("woff2");
            unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
                U+FE2E-FE2F;
        }

        /* cyrillic */
        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-display: swap;
            src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3g3D_u50.woff2) format("woff2");
            unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
        }

        /* vietnamese */
        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-display: swap;
            src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gbD_u50.woff2) format("woff2");
            unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
                U+01AF-01B0, U+1EA0-1EF9, U+20AB;
        }

        /* latin-ext */
        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-display: swap;
            src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gfD_u50.woff2) format("woff2");
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
                U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }

        /* latin */
        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-display: swap;
            src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2) format("woff2");
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
                U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
                U+FEFF, U+FFFD;
        }

        /* cyrillic-ext */
        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-display: swap;
            src: local("Montserrat Bold"), local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gTD_u50.woff2) format("woff2");
            unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
                U+FE2E-FE2F;
        }

        /* cyrillic */
        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-display: swap;
            src: local("Montserrat Bold"), local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3g3D_u50.woff2) format("woff2");
            unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
        }

        /* vietnamese */
        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-display: swap;
            src: local("Montserrat Bold"), local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gbD_u50.woff2) format("woff2");
            unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
                U+01AF-01B0, U+1EA0-1EF9, U+20AB;
        }

        /* latin-ext */
        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-display: swap;
            src: local("Montserrat Bold"), local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gfD_u50.woff2) format("woff2");
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
                U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }

        /* latin */
        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-display: swap;
            src: local("Montserrat Bold"), local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format("woff2");
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
                U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
                U+FEFF, U+FFFD;
        }

        body {
            margin: 0;
            font-family: 'Montserrat', serif;
        }

        .Flex {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

        .FlexFill {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }

        .Italic {
            font-style: italic;
        }

        .Light {
            font-weight: 300;
        }

        .Regular {
            font-weight: 400;
        }

        .SemiBold {
            font-weight: 600;
        }

        .Bold {
            font-weight: 700;
        }

        .flexFill {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }

        .TextLeft {
            text-align: left;
        }

        .TextRight {
            text-align: right;
        }

        .TextCenter {
            text-align: center;
        }

        .Font1 {
            font-size: 1px;
        }

        .Font2 {
            font-size: 2px;
        }

        .Font3 {
            font-size: 3px;
        }

        .Font4 {
            font-size: 4px;
        }

        .Font5 {
            font-size: 5px;
        }

        .Font6 {
            font-size: 6px;
        }

        .Font7 {
            font-size: 7px;
        }

        .Font8 {
            font-size: 8px;
        }

        .Font9 {
            font-size: 9px;
        }

        .Font10 {
            font-size: 10px;
        }

        .Font11 {
            font-size: 11px;
        }

        .Font12 {
            font-size: 12px;
        }

        .Font13 {
            font-size: 13px;
        }

        .Font14 {
            font-size: 14px;
        }

        .Font15 {
            font-size: 15px;
        }

        .Font16 {
            font-size: 16px;
        }

        .Font17 {
            font-size: 17px;
        }

        .Font18 {
            font-size: 18px;
        }

        .Font19 {
            font-size: 19px;
        }

        .Font20 {
            font-size: 20px;
        }

        .Font21 {
            font-size: 21px;
        }

        .Font22 {
            font-size: 22px;
        }

        .Font23 {
            font-size: 23px;
        }

        .Font24 {
            font-size: 24px;
        }

        .Font25 {
            font-size: 25px;
        }

        .Font26 {
            font-size: 26px;
        }

        .Font27 {
            font-size: 27px;
        }

        .Font28 {
            font-size: 28px;
        }

        .Font29 {
            font-size: 29px;
        }

        .Font30 {
            font-size: 30px;
        }

        .LH1 {
            line-height: 1px;
        }

        .LH2 {
            line-height: 2px;
        }

        .LH3 {
            line-height: 3px;
        }

        .LH4 {
            line-height: 4px;
        }

        .LH5 {
            line-height: 5px;
        }

        .LH6 {
            line-height: 6px;
        }

        .LH7 {
            line-height: 7px;
        }

        .LH8 {
            line-height: 8px;
        }

        .LH9 {
            line-height: 9px;
        }

        .LH10 {
            line-height: 10px;
        }

        .LH11 {
            line-height: 11px;
        }

        .LH12 {
            line-height: 12px;
        }

        .LH13 {
            line-height: 13px;
        }

        .LH14 {
            line-height: 14px;
        }

        .LH15 {
            line-height: 15px;
        }

        .LH16 {
            line-height: 16px;
        }

        .LH17 {
            line-height: 17px;
        }

        .LH18 {
            line-height: 18px;
        }

        .LH19 {
            line-height: 19px;
        }

        .LH20 {
            line-height: 20px;
        }

        .LH21 {
            line-height: 21px;
        }

        .LH22 {
            line-height: 22px;
        }

        .LH23 {
            line-height: 23px;
        }

        .LH24 {
            line-height: 24px;
        }

        .LH25 {
            line-height: 25px;
        }

        .LH26 {
            line-height: 26px;
        }

        .LH27 {
            line-height: 27px;
        }

        .LH28 {
            line-height: 28px;
        }

        .LH29 {
            line-height: 29px;
        }

        .LH30 {
            line-height: 30px;
        }

        .Page {
            position: relative;
            width: 814px;
            height: 1056px;
        }

        .VWW_Informaiton {
            position: absolute;
            top: 50px;
            left: 50px;
        }

        .Container {
            width: 780px;
            margin: auto;
        }

        .BorderLine {
            border-bottom: 1px solid black;
        }

        header {
            padding: 15px 0;
            height: 125px;
        }

        header .Logo {
            position: absolute;
            left: 15px;
            top: 30px;
        }

        header .Logo img {
            width: 203px;
        }

        header .Store-Address {
            position: absolute;
            left: 50%;
            -webkit-transform: translate(-50%);
            transform: translate(-50%);
            top: 48px;
        }

        header .Date {
            position: absolute;
            right: 15px;
            top: 49px;
        }

        .CustomerInformation {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding: 15px 0;
        }

        .ProductTable {
            height: 386px;
        }

        .ProductTable.Additional {
            height: 740px;
        }

        .ProductTable th {
            padding: 10px 0;
        }

        .ProductTable td {
            padding-bottom: 12px;
            line-height: 16px;
        }

        .ProductTable .Description {
            width: 325px;
        }

        .CustomerSignature {
            width: 523px;
            margin: auto;
            padding: 65px 0 10px;
            line-height: 30px;
        }

        footer {
            padding: 20px 0;
        }

        footer .PageCount {
            position: absolute;
            bottom: 30px;
            right: 16px;
            text-align: right;
        }

        .FinePrint div {
            padding-bottom: 15px;
        }

        .FinePrint div:first-child {
            padding-top: 27px;
        }

        .OrderTotals {
            position: absolute;
            top: 653px;
            right: 17px;
            width: 338px;
            border-left: 1px solid black;
            height: 198px;
        }

        .OrderTotals .OrderTotalContainer {
            width: 304px;
            padding: 12px 0px 12px 30px;
        }

        /*# sourceMappingURL=styles.css.map */
    </style>

    {{#each pages}}
    <section class="Page">
        <header class="Container PaddingTopBottom">
            <div class="Logo">
                <img
                    src="https://cdn.shopify.com/s/files/1/2975/0102/files/Logo_3x_3d12bf52-f488-4b86-ab91-dd3e4f758ed5.png?v=1585510373" />
            </div>
            <div class="Store-Address">
                <h3 class="Light Font17 LH20 TextCenter">
                    3000 NE Andresen Road<br />Vancouver, WA 98661<br />360-696-8590
                </h3>
            </div>

            <div class="Date TextCenter LH27">
                <h3 class="Font27 SemiBold">INVOICE</h3>
                <h3 class="Font20 Light">{{ConvertDate ../date}}</h3>
            </div>
        </header>
        <div class="Container BorderLine"></div>
        <section class="CustomerInformation Container">
            <h3 class="Font16 LH20">
                {{../customer.name}}<br />
                {{../address.street}}<br />{{../address.city}}, {{../address.state}}
                {{../address.zip}}
            </h3>
            <h3 class="TextCenter FlexFill Font16 LH20">
                {{#each ../customer.phone}}
                <br />{{number}}
                {{/each}}
            </h3>
            <h3 class="TextRight Font16 LH20">
                {{#if ../estimatedStoreArrival}}
                <br />Estimated Store Arrival<br />{{../estimatedStoreArrival}} Weeks.
                {{/if}}
            </h3>
        </section>
        <div class="Container BorderLine"></div>
        <section class="{{#ifEquals index ../pagesLength}}ProductTable{{else}}ProductTable Additional{{/ifEquals}}">
            <table class="Container">
                <tr>
                    <th class="TextCenter Bold Font14">Qty</th>
                    <th class="TextLeft Description Bold Font14">Description</th>
                    <th class="TextCenter Bold Font14">Status</th>
                    <th class="TextCenter Bold Font14">Color</th>
                    <th class="TextCenter Bold Font14">Rate</th>

                    <th class="TextRight Bold Font14" style="width: 1px;">Amount</th>
                </tr>
                {{#each products}}
                <tr>
                    <td class="TextCenter Regular Font14">{{quantity}}</td>
                    <td class="Regular Font14">
                        {{vendorCollection}} {{title}}<br />{{vendor.name}} | {{sku}}
                        {{#each notes}}
                        <br />-{{ this }}
                        {{/each}}
                    </td>
                    <td class="TextCenter Regular Font14">{{status}}</td>
                    <td class="TextCenter Regular Font14">{{color}}</td>
                    <td class="TextCenter Regular Font14">${{price}}</td>
                    <td class="TextCenter Regular Font14">${{getTotal quantity price}}</td>
                </tr>

                {{/each}}
            </table>
        </section>
        {{#ifEquals index ../pagesLength}}
        <div class="Container BorderLine"></div>
        <section style="height: 230px;" class="FinePrint Container">
            <div>
                <h1 class="Font20">Thank you for your business</h1>
            </div>
            <div>
                <h1 class="Font16 Italic">
                    Minimum $100 Charge on all deliveries.<br />No refunds on special
                    orders.
                </h1>
            </div>
            <div>
                <h1 class="Font12 Light">
                    Color panels represent an average color which will vary in tone<br />and
                    hue due to natural grain variations and type of wood selected<br />No
                    refunds on special orders.
                </h1>
            </div>
            <div class="LH20">
                <h1 class="Font12 Light">
                    {{../note}}
                </h1>
            </div>
            <div class="LH20">

                {{!-- <h1 class="Font20">Happy with Our Service?</h1>
                <h1 class="Font12">
                    Visit VancouverWoodworks.com/Review to Tell the World!
                </h1> --}}
            </div>
        </section>
        <section class="OrderTotals">
            <div class="Flex OrderTotalContainer">
                <div class="FlexFill LH25">
                    <h1 class="Font20">Item Total:</h1>
                    {{#if ../delivery}}
                    <h1 class="Font20">Delivery Fee:</h1>
                    {{else}}
                    <h1 class="Font20"><br /></h1>
                    {{/if}}</h1>

                    <h1 class="Font20">Sales Tax ({{getTaxPercent ../salesTaxRate }}%):</h1>
                    <h1 class="Font20">Subtotal:</h1>
                    <h1 class="Font20">Deposit:</h1>
                    <h1 class="Font20"><br /></h1>
                    <h1 class="Font20 Bold">Total Due:</h1>
                </div>
                <div class="LH25 TextRight">
                    <h1 class="Font20">${{../itemTotal}}</h1>
                    {{#if ../delivery}}
                    <h1 class="Font20">${{../deliveryFee}}</h1>
                    {{else}}
                    <h1 class="Font20"><br /></h1>
                    {{/if}}

                    <h1 class="Font20">${{../salesTax}}</h1>
                    <h1 class="Font20">${{../subTotal}}</h1>
                    <h1 class="Font20">${{../deposit}}</h1>
                    <h1 class="Font20"><br /></h1>
                    <h1 class="Font20 Bold">${{../totalDue}}</h1>
                </div>
            </div>
        </section>
        <div class="Container BorderLine"></div>
        <section style="height: 122px;">
            <div class="CustomerSignature">
                <div class="BorderLine"></div>
                <h1 class="SemiBold">Customer Signature</h1>
            </div>
        </section>
        {{/ifEquals}}
        <div class="Container BorderLine"></div>
        <footer class="Container TextCenter">
            <h1 class="Font17">www.VancouverWoodworks.com</h1>
            <h1 class="PageCount">Page {{index}} of {{../pagesLength}}</h1>
        </footer>
    </section>
    {{/each}}

</body>

</html>